<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a href="javascript:void(0)" class="navbar-brand fw-bold">E-Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">
            <i class="fas fa-home"></i>&nbsp;Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books/my-books">
            <i class="fas fa-book"></i>&nbsp;My Books
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books/my-waiting-list">
            <i class="fas fa-clock"></i>&nbsp;My Waiting List
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books/my-returned-books">
            <i class="fas fa-undo-alt"></i>&nbsp;My Returned Books
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books/my-borrowed-books">
            <i class="fas fa-book-reader"></i>&nbsp;Borrowed Books
          </a>
        </li>
      </ul>

      <!-- Search Input -->
      <div class="search-container position-relative">
        <input
          class="form-control me-2"
          type="text"
          placeholder="Find a book"
          aria-label="search"
          (input)="onSearchInput($event)"
          (keydown)="handleKeyDown($event)"
          [(ngModel)]="searchQuery"
          (focus)="showDropdown = true"
          (blur)="hideDropdown()"
        />
        <!-- Dropdown for Suggestions -->
        <ul class="dropdown-menu show position-absolute w-100" *ngIf="showDropdown && suggestions.length > 0">
          <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)" class="dropdown-item">
            {{ suggestion }}
          </li>
        </ul>
      </div>

      <span class="welcome-text ms-3">Welcome</span>
      <span class="text-capitalize fw-bold ms-1">{{ username }}</span>
      <button class="btn btn-link ms-2" type="button" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </div>
</nav>
